*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}
header {
    background-image: url(../images/banner/banner3.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 1540px;
    height: 808px;
    text-align: right;
}
.banner{
    padding-top: 216px;
    padding-right: 230px;
}
.head-title{

    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-bottom: 24px;

}
.head-desc{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 32px;
 
}
.contact-button{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
}
.failure{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}
.primaryh1{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.fail-p, ul{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
#fdiv {
    margin-top: 500px;

}
#img-person {
    margin-top: 300px;
}
.myplan{
    align-content: center;
}
#planid{
    text-align: center;
    margin-bottom: 100px;
}

.plans{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;

}
.plans p{
    color:  #737272;

}

.mindset{
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    /* border-bottom-left-radius: 1140px 300px 5px; */
    /* border-left: 300px;
    border-bottom: 1140px; */
    width: 1140px;
    height: 500px;
    border-radius: 10px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 130px;
    background-blend-mode:normal;
    padding-left: 64px;

}
.mindset h3{
    padding-top: 60px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}